@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";


body {
  background-color: rgb(11, 11, 31);
  height:fit-content;
   font-family: 'Poppins', sans-serif;
}
